---
import "../styles/global.css";
import Download from "../components/Download.astro";

const { title } = Astro.props;
const version = "v2.0.0-beta.8";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet" />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <nav class="flex items-center justify-between px-4 py-2">
        <a href="/" class="flex items-center text-2xl font-bold text-white">
          <img src="/logo.svg" class="w-auto h-6" alt="Logo" />
        </a>
        <ul class="flex items-center space-x-4">
          <li>
            <a href="/changelog" class="text-gray-700 hover:text-gray-900 font-medium">
              Changelog
            </a>
          </li>
          <li class="mt-1">
            <Download small={true} version={version} />
          </li>
          <li>
            <a href="https://github.com/madisvain/upcount" target="_blank">
              <img src="/github.svg" class="w-auto h-6" alt="Logo" />
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <slot />

    <footer class="max-w-6xl mx-auto px-4 mt-24 mb-5">
      <div class="text-center">
        Made with <span class="text-red-500">&hearts;</span> for coding by{" "}
        <a href="https://github.com/madisvain" class="text-blue-600 hover:text-blue-800">Madis Väin</a>
        <br />
        <small class="text-gray-600">Estonia, Tallinn</small>
      </div>
    </footer>
  </body>
</html>
