.env.production
.vscode
*.sqlite3

#linguijs
src/locales/_build/
src/locales/**/*.js
src/locales/**/*.mo

# dependencies
/node_modules
/npm-debug.log*
/yarn-error.log
/src/renderer/node_modules

# production
/dist

# misc
.DS_Store

# umi
.umi
.umi-production

# website
/website/node_modules
/website/.next